#main {
  padding-top: 70px;
  min-height: cal(730px); }

@media (min-width: 1024px) {
  #main {
    padding-top: 120px;
    min-height: cal(680px); } }

nav {
  background: transparent;
  color: #2E2E2E;
  -webkit-box-shadow: none;
  box-shadow: none; }
  nav ul li a {
    color: #2E2E2E; }

header {
  background: #2E2E2E;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 100;
  position: fixed;
  width: 100%; }
  header .brand2 {
    display: inline;
    text-align: center;
    color: #F62F5E;
    font-weight: 700;
    margin: 0;
    padding-left: 2rem; }
  header .nav {
    background: #2E2E2E;
    position: absolute;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    padding-top: 1rem;
    -webkit-transition: left 300ms ease-in-out;
    -o-transition: left 300ms ease-in-out;
    transition: left 300ms ease-in-out; }
    header .nav .topNav h6 {
      color: #FFF;
      font-size: 1.3rem;
      margin-left: 1rem; }
      header .nav .topNav h6 a,
      header .nav .topNav h6 span {
        color: #F62F5E;
        font-weight: 700; }
    header .nav .topNav .dropdown-cont {
      position: relative; }
      header .nav .topNav .dropdown-cont .my-dropdown {
        position: absolute;
        padding: 0.5rem;
        top: 0.4rem;
        left: 0;
        background: #FFF;
        z-index: 10;
        width: 10rem;
        -webkit-box-shadow: 0px 0px 4px #2E2E2E;
        box-shadow: 0px 0px 4px #2E2E2E;
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        -webkit-transition: -webkit-transform 250ms ease-in-out;
        transition: -webkit-transform 250ms ease-in-out;
        -o-transition: transform 250ms ease-in-out;
        transition: transform 250ms ease-in-out;
        transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out; }
        header .nav .topNav .dropdown-cont .my-dropdown li {
          border-bottom: 2px solid transparent; }
          header .nav .topNav .dropdown-cont .my-dropdown li a {
            color: #2E2E2E;
            font-size: 1rem;
            font-weight: 400;
            width: 10rem;
            margin-bottom: 0.5rem;
            padding: 0.5rem 0 0.5rem 0.5rem;
            display: block;
            width: 100%; }
          header .nav .topNav .dropdown-cont .my-dropdown li:hover {
            border-bottom: 2px solid #F62F5E; }
      header .nav .topNav .dropdown-cont .dropDown-active {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1); }
    header .nav .topNav .close-btn {
      position: absolute;
      right: 0;
      color: #FFF;
      margin-right: 2rem;
      margin-top: -2rem;
      font-size: 2.5rem; }
    header .nav .topNav .secondary-menu {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 0.7rem; }
      header .nav .topNav .secondary-menu a {
        font-size: 1.1rem;
        color: #FFF; }
    header .nav .topNav .topBag {
      position: absolute;
      top: 0;
      left: 0;
      margin-top: 4rem; }
      header .nav .topNav .topBag .bag-container {
        position: relative;
        margin-right: 0.5rem; }
        header .nav .topNav .topBag .bag-container .fas {
          font-size: 1.5rem;
          color: #FFF; }
        header .nav .topNav .topBag .bag-container .bag-counter {
          background-color: #F62F5E;
          font-size: 1rem;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          color: #FFF;
          padding: 0.3rem;
          width: 1.5rem;
          height: 1.5rem;
          border-radius: 50%;
          position: absolute;
          top: -50%;
          left: 50%; }
    header .nav .bottomNav .brand {
      position: absolute;
      top: 0%;
      left: 0;
      width: 100%;
      text-align: center;
      color: #F62F5E;
      font-weight: 700;
      margin-top: 7rem; }
    header .nav .bottomNav .mainNav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-top: 2rem; }
      header .nav .bottomNav .mainNav ul a {
        font-size: 1.5rem;
        color: #FFF; }
      header .nav .bottomNav .mainNav ul li:hover a {
        color: #F62F5E; }
    header .nav .bottomNav .mainNav .mainNav-active {
      color: #F62F5E; }
    header .nav .bottomNav .searchBar {
      display: none; }
  header .open-menu {
    float: right;
    margin-right: 2rem;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #FFF; }
    header .open-menu i {
      font-size: 2.7rem; }
  header .menuActive {
    left: 0;
    z-index: 100; }

/*Landscape > 500px*/
@media (min-width: 500px) {
  header .nav .topNav .secondary-menu {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  header .nav .bottomNav .brand {
    margin-top: 5rem; }
  header .nav .bottomNav .mainNav ul {
    margin-top: -1.5rem; }
    header .nav .bottomNav .mainNav ul a {
      font-size: 1.5rem;
      line-height: 3.25rem; }
  header .open-menu {
    float: right;
    margin-right: 2rem;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #FFF; }
    header .open-menu i {
      font-size: 2.7rem; }
  header .menuActive {
    left: 0; } }

/*Tablet > 750px*/
@media (min-width: 750px) {
  header {
    background: #2E2E2E;
    height: 8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    header .brand2 {
      display: none; }
    header .nav {
      background: #2E2E2E;
      position: static;
      height: 100%;
      width: 100%;
      padding-top: 0; }
      header .nav .topNav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 35%;
        background: #FFF; }
        header .nav .topNav h6 {
          color: #2E2E2E;
          font-size: 1.1rem;
          margin: 0 0 0 2rem; }
          header .nav .topNav h6 a,
          header .nav .topNav h6 span {
            color: #F62F5E;
            font-weight: 700; }
        header .nav .topNav .close-btn {
          display: none; }
        header .nav .topNav .secondary-menu {
          position: static;
          display: inline;
          padding: 0; }
          header .nav .topNav .secondary-menu a {
            font-size: 1.1rem;
            color: #2E2E2E;
            font-weight: 500; }
            header .nav .topNav .secondary-menu a:hover {
              -webkit-text-decoration: underline #F62F5E;
              text-decoration: underline #F62F5E;
              background: none; }
        header .nav .topNav .topBag {
          position: static;
          top: 0;
          left: 0;
          margin: 0 2rem 0 0; }
          header .nav .topNav .topBag .bag-container .fas {
            color: #2E2E2E; }
      header .nav .bottomNav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 65%; }
        header .nav .bottomNav .brand {
          position: static;
          color: #F62F5E;
          font-weight: 600;
          margin: 0 0 0 2rem; }
        header .nav .bottomNav .mainNav ul {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          height: 100%;
          margin: 0; }
          header .nav .bottomNav .mainNav ul a {
            font-size: 1.3rem; }
          header .nav .bottomNav .mainNav ul li:hover a {
            color: #F62F5E;
            background-color: transparent; }
        header .nav .bottomNav .searchBar,
        header .nav .bottomNav .cartMainNav {
          display: none; }
    header .open-menu {
      display: none; } }

/*Medium Screens > 1024px */
@media (min-width: 1024px) {
  header .nav .bottomNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 65%; }
    header .nav .bottomNav .brand {
      position: static;
      color: #F62F5E;
      font-weight: 600;
      margin: 0 0 0 2rem; }
    header .nav .bottomNav .mainNav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 100%;
      margin: 0; }
      header .nav .bottomNav .mainNav ul a {
        font-size: 1.3rem; }
      header .nav .bottomNav .mainNav ul li:hover a {
        color: #F62F5E;
        background-color: transparent; }
    header .nav .bottomNav .searchBar {
      display: inline-block;
      margin-right: 2rem;
      position: relative;
      color: #FFF;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 25%; }
      header .nav .bottomNav .searchBar input {
        background: #fafafa;
        width: 100%;
        margin: 0;
        border: none;
        padding-left: 0.7rem;
        border-radius: 2rem;
        font-weight: 500;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 100%;
        -ms-transform-origin: 100%;
        transform-origin: 100%;
        -webkit-transition: all 250ms linear;
        -o-transition: all 250ms linear;
        transition: all 250ms linear;
        color: #F62F5E;
        border-bottom: 2px solid transparent;
        -webkit-box-shadow: 0 1px 0 0 transparent;
        box-shadow: 0 1px 0 0 transparent; }
        header .nav .bottomNav .searchBar input:focus {
          border-bottom: 2px solid #F62F5E;
          -webkit-box-shadow: 0 1px 0 0 #F62F5E;
          box-shadow: 0 1px 0 0 #F62F5E; }
      header .nav .bottomNav .searchBar .input-active {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1); }
      header .nav .bottomNav .searchBar .search-icon {
        cursor: pointer; }
  header .open-menu {
    display: none; } }

.auth-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: -170%;
  opacity: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 100;
  -webkit-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out; }

.modal-active {
  top: 0;
  opacity: 1; }

#login-cont, #register-cont {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  #login-cont .register,
  #login-cont .login, #register-cont .register,
  #register-cont .login {
    background: #FFF;
    border-radius: 1rem;
    padding: 1rem 2rem 2rem 2rem;
    /* label color */
    /* label focus color */
    /* label underline focus color */
    /* label underline focus color */
    /* label underline focus color */ }
    #login-cont .register .btn-close-cont,
    #login-cont .login .btn-close-cont, #register-cont .register .btn-close-cont,
    #register-cont .login .btn-close-cont {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      color: #F62F5E;
      font-size: 2rem; }
      #login-cont .register .btn-close-cont i,
      #login-cont .login .btn-close-cont i, #register-cont .register .btn-close-cont i,
      #register-cont .login .btn-close-cont i {
        cursor: pointer;
        margin: 0.7rem 0.5rem 0 0;
        -webkit-transition: -webkit-transform 250ms ease-in-out;
        transition: -webkit-transform 250ms ease-in-out;
        -o-transition: transform 250ms ease-in-out;
        transition: transform 250ms ease-in-out;
        transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out; }
        #login-cont .register .btn-close-cont i:hover,
        #login-cont .login .btn-close-cont i:hover, #register-cont .register .btn-close-cont i:hover,
        #register-cont .login .btn-close-cont i:hover {
          -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          transform: rotate(90deg); }
    #login-cont .register form input,
    #login-cont .login form input, #register-cont .register form input,
    #register-cont .login form input {
      text-align: center; }
    #login-cont .register h3,
    #login-cont .login h3, #register-cont .register h3,
    #register-cont .login h3 {
      color: #2E2E2E; }
    #login-cont .register small,
    #login-cont .login small, #register-cont .register small,
    #register-cont .login small {
      color: #6b6b6b;
      display: block;
      margin-bottom: 1rem;
      text-align: center; }
    #login-cont .register .onError,
    #login-cont .login .onError, #register-cont .register .onError,
    #register-cont .login .onError {
      color: red;
      font-size: 1rem;
      -webkit-transition: all 200ms linear;
      -o-transition: all 200ms linear;
      transition: all 200ms linear; }
    #login-cont .register .onErrorAll,
    #login-cont .login .onErrorAll, #register-cont .register .onErrorAll,
    #register-cont .login .onErrorAll {
      /* label underline focus color */
      /* label color */ }
      #login-cont .register .onErrorAll .input-field input,
      #login-cont .login .onErrorAll .input-field input, #register-cont .register .onErrorAll .input-field input,
      #register-cont .login .onErrorAll .input-field input {
        border-bottom: 0px solid red;
        -webkit-box-shadow: 0 1px 0 0 red;
        box-shadow: 0 1px 0 0 red; }
      #login-cont .register .onErrorAll .input-field label,
      #login-cont .login .onErrorAll .input-field label, #register-cont .register .onErrorAll .input-field label,
      #register-cont .login .onErrorAll .input-field label {
        color: red; }
    #login-cont .register .onErrorInput input,
    #login-cont .login .onErrorInput input, #register-cont .register .onErrorInput input,
    #register-cont .login .onErrorInput input {
      border-bottom: 0px solid red;
      -webkit-box-shadow: 0 1px 0 0 red;
      box-shadow: 0 1px 0 0 red; }
    #login-cont .register .onErrorInput input + label,
    #login-cont .login .onErrorInput input + label, #register-cont .register .onErrorInput input + label,
    #register-cont .login .onErrorInput input + label {
      color: red; }
    #login-cont .register .input-field label,
    #login-cont .login .input-field label, #register-cont .register .input-field label,
    #register-cont .login .input-field label {
      color: #2E2E2E; }
    #login-cont .register .input-field input[type=text]:focus + label,
    #login-cont .login .input-field input[type=text]:focus + label, #register-cont .register .input-field input[type=text]:focus + label,
    #register-cont .login .input-field input[type=text]:focus + label {
      color: #8a8a8a; }
    #login-cont .register .input-field input[type=email]:focus + label,
    #login-cont .login .input-field input[type=email]:focus + label, #register-cont .register .input-field input[type=email]:focus + label,
    #register-cont .login .input-field input[type=email]:focus + label {
      color: #8a8a8a; }
    #login-cont .register .input-field input[type=password]:focus + label,
    #login-cont .login .input-field input[type=password]:focus + label, #register-cont .register .input-field input[type=password]:focus + label,
    #register-cont .login .input-field input[type=password]:focus + label {
      color: #8a8a8a; }
    #login-cont .register .input-field input[type=text]:focus,
    #login-cont .login .input-field input[type=text]:focus, #register-cont .register .input-field input[type=text]:focus,
    #register-cont .login .input-field input[type=text]:focus {
      border-bottom: 1px solid #2E2E2E;
      -webkit-box-shadow: 0 1px 0 0 #2E2E2E;
      box-shadow: 0 1px 0 0 #2E2E2E; }
    #login-cont .register .input-field input[type=email]:focus,
    #login-cont .login .input-field input[type=email]:focus, #register-cont .register .input-field input[type=email]:focus,
    #register-cont .login .input-field input[type=email]:focus {
      border-bottom: 1px solid #2E2E2E;
      -webkit-box-shadow: 0 1px 0 0 #2E2E2E;
      box-shadow: 0 1px 0 0 #2E2E2E; }
    #login-cont .register .input-field input[type=password]:focus,
    #login-cont .login .input-field input[type=password]:focus, #register-cont .register .input-field input[type=password]:focus,
    #register-cont .login .input-field input[type=password]:focus {
      border-bottom: 1px solid #2E2E2E;
      -webkit-box-shadow: 0 1px 0 0 #2E2E2E;
      box-shadow: 0 1px 0 0 #2E2E2E; }
    #login-cont .register .btn,
    #login-cont .login .btn, #register-cont .register .btn,
    #register-cont .login .btn {
      background-color: #F62F5E; }

/*
  Styles for ProductItem.js 
*/
.product-item {
  -webkit-box-shadow: 0px 0px 5px #2E2E2E;
  box-shadow: 0px 0px 5px #2E2E2E;
  height: 235px;
  max-height: 215px;
  max-width: 475px;
  -webkit-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
  margin-bottom: 1.5rem;
  padding: 0 1.5rem;
  cursor: pointer; }
  .product-item h5 {
    padding-top: 1rem; }
  .product-item:hover {
    -webkit-box-shadow: 0px 0px 15px #2E2E2E;
    box-shadow: 0px 0px 15px #2E2E2E; }
  .product-item .cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
    .product-item .cont .img-cont {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0 .3rem 0 0.5rem; }
      .product-item .cont .img-cont img {
        border-radius: 0.3rem; }
    .product-item .cont .price {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; }
      .product-item .cont .price .reg-price,
      .product-item .cont .price .disc-price {
        color: #FFF;
        background-color: #F62F5E;
        padding: 0.2rem 0.4rem;
        border-radius: 0.3rem;
        font-weight: 600;
        font-size: 1.2rem; }
      .product-item .cont .price .reg-price {
        margin-left: 63%; }
      .product-item .cont .price .x-price {
        color: red;
        font-size: 1.2rem;
        text-decoration: line-through;
        opacity: 0.85; }
      .product-item .cont .price .hide-price {
        display: none; }
    .product-item .cont .description {
      margin-top: 1rem;
      padding: 0.3rem; }

/*
  Styles for Products.js 
*/
.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

/*Pagination */
.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .pagination li.active {
    background-color: #F62F5E; }

.categoryNav-cont .categoriesNav h5 {
  text-align: center; }

.categoryNav-cont .categoriesNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .categoryNav-cont .categoriesNav ul li a {
    display: block;
    width: 100%;
    padding-left: 0.5rem;
    color: #2E2E2E;
    border-bottom: 2px solid transparent; }

.categoryNav-cont .categoriesNav .cat-active {
  color: #F62F5E;
  border-bottom: 2px solid #F62F5E; }

@media (min-width: 992px) {
  .categoryNav-cont .categoriesNav {
    position: fixed; }
    .categoryNav-cont .categoriesNav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .categoryNav-cont .categoriesNav ul li a {
        padding-left: 1rem;
        margin-bottom: 1rem;
        color: #2E2E2E;
        font-size: 1.2rem;
        border-bottom: 2px solid transparent; } }

/*Large Screens > 1200px */
@media (min-width: 1200px) {
  /*
  Styles for ProductItem.js @ 1200px
*/
  .product-item {
    -webkit-box-shadow: 0px 0px 3px #aaa;
    box-shadow: 0px 0px 3px #aaa;
    height: 450px;
    max-height: 350px;
    max-width: 270px;
    -webkit-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
    margin-bottom: 1.5rem; }
    .product-item h5 {
      padding-top: 0; }
    .product-item:hover {
      -webkit-box-shadow: 0px 0px 25px #b4b4b4;
      box-shadow: 0px 0px 25px #b4b4b4; }
    .product-item .cont {
      display: block;
      position: relative;
      height: 85%; }
      .product-item .cont .img-cont {
        display: block;
        padding: 0;
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%); }
      .product-item .cont .price {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        width: 100%;
        padding: 0;
        position: absolute;
        bottom: 45%; }
      .product-item .cont .description {
        margin: 0;
        padding: 0 0.5rem;
        position: absolute;
        bottom: 8%; }
  .products {
    display: block; }
    .products .cont {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr); } }

/*Extra Large Screens > 1500px */
@media (min-width: 1500px) {
  .products {
    display: block; }
    .products .cont {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr); } }

/*Single Product */
.single-product {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(0, 0, 0, 0.9);
  -webkit-transform: scale(0.00001, 0.00001);
  -ms-transform: scale(0.00001, 0.00001);
  transform: scale(0.00001, 0.00001);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  -o-transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out; }

.active {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1); }

.product-cont {
  height: inherit;
  margin: auto;
  background: #FFF;
  padding: 1rem;
  z-index: 100;
  overflow-y: scroll; }
  .product-cont h3 {
    color: #2E2E2E;
    font-weight: 500;
    opacity: 0.75; }
  .product-cont .btn-close {
    font-size: 2.5rem;
    position: relative;
    left: 90%;
    cursor: pointer;
    color: #2E2E2E;
    font-weight: 500;
    opacity: 0.75; }
  .product-cont .gallery {
    width: 100%; }
    .product-cont .gallery .img-cont {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      height: 200px; }
    .product-cont .gallery hr {
      border: 0.5px solid #aaa; }
    .product-cont .gallery .img-selector {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .product-cont .gallery .img-selector span {
        margin: 0 0.5rem;
        width: 3.5rem; }
        .product-cont .gallery .img-selector span img {
          width: 100%; }
  .product-cont .details .price-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-top: 0.7rem; }
    .product-cont .details .price-cont span {
      margin: 0rem;
      font-size: 2rem;
      font-weight: 700;
      color: #F62F5E; }
    .product-cont .details .price-cont .x-price {
      text-decoration: line-through;
      color: red;
      font-size: 1.2rem;
      opacity: 0.9; }
    .product-cont .details .price-cont .disc-price {
      margin-left: 1.5rem; }
    .product-cont .details .price-cont .price-hide {
      display: none; }
  .product-cont .details .description {
    color: #2E2E2E;
    font-size: 1.1rem; }
  .product-cont .details .attributes h6 {
    color: #747474;
    font-weight: 700;
    font-size: 1.3rem; }
  .product-cont .details .attributes ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .product-cont .details .attributes .colors li {
    margin-right: 0.5rem;
    border: 3px solid #aaa;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear; }
    .product-cont .details .attributes .colors li label {
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 50%;
      cursor: pointer; }
  .product-cont .details .attributes .colors .picked {
    border: 3px solid #F62F5E; }
  .product-cont .details .attributes .sizes li {
    padding: 0.25rem 1rem;
    margin-right: 0.5rem;
    border: 2px solid #F62F5E;
    -webkit-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear; }
    .product-cont .details .attributes .sizes li label {
      cursor: pointer;
      font-size: 1.1rem;
      color: #F62F5E;
      font-weight: 700; }
  .product-cont .details .attributes .sizes .picked {
    background-color: #F62F5E; }
    .product-cont .details .attributes .sizes .picked label {
      color: #FFF; }
  .product-cont .details .btn-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 1.5rem; }
    .product-cont .details .btn-cont .add-btn {
      padding: 1rem 3rem;
      cursor: pointer;
      border-radius: 2rem;
      background-color: #F62F5E;
      color: #FFF;
      border: none;
      font-size: 1.2rem;
      -webkit-box-shadow: 1px 1px 3px #2E2E2E;
      box-shadow: 1px 1px 3px #2E2E2E;
      -webkit-transition: all 250ms linear;
      -o-transition: all 250ms linear;
      transition: all 250ms linear; }
      .product-cont .details .btn-cont .add-btn:hover {
        background-color: #d00938;
        -webkit-box-shadow: 0px 0px 6px #2E2E2E;
        box-shadow: 0px 0px 6px #2E2E2E; }

.post-review form textarea {
  padding: 0.7rem;
  width: 100%;
  height: 7rem;
  min-height: 7rem;
  max-height: 7rem;
  margin-bottom: 1rem; }

.post-review form .btn-cont {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .post-review form .btn-cont button {
    background: #F62F5E;
    padding: 1rem;
    border: none;
    cursor: pointer;
    color: #FFF;
    border-radius: 3rem;
    -webkit-box-shadow: 1px 1px 3px #2e2e2e;
    box-shadow: 1px 1px 3px #2e2e2e;
    -webkit-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear; }
    .post-review form .btn-cont button:hover {
      background-color: #d00938;
      -webkit-box-shadow: 0px 0px 6px #2e2e2e;
      box-shadow: 0px 0px 6px #2e2e2e; }

.reviews {
  width: 50%;
  margin: 3rem auto; }
  .reviews .review-cont {
    padding: 1rem;
    -webkit-box-shadow: 0px 0px 5px #757575;
    box-shadow: 0px 0px 5px #757575;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    -webkit-transition: -webkit-transform 200ms ease-in;
    transition: -webkit-transform 200ms ease-in;
    -o-transition: transform 200ms ease-in;
    transition: transform 200ms ease-in;
    transition: transform 200ms ease-in, -webkit-transform 200ms ease-in; }
    .reviews .review-cont:hover {
      -webkit-transform: translateY(-3%);
      -ms-transform: translateY(-3%);
      transform: translateY(-3%); }
    .reviews .review-cont .date {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .reviews .review-cont .date small {
        display: inline-block;
        font-style: italic; }

.my-profile h5,
.my-profile h3 {
  color: #2E2E2E;
  text-align: center; }

.my-profile .basic-info, .my-profile .address {
  -webkit-box-shadow: 0px 0px 5px #aaa;
  box-shadow: 0px 0px 5px #aaa;
  padding: 1rem; }
  .my-profile .basic-info h5, .my-profile .address h5 {
    border-bottom: 1px solid #F62F5E;
    padding-bottom: 0.7rem; }
  .my-profile .basic-info li, .my-profile .address li {
    padding: 0.5rem;
    font-size: 1.2rem;
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 0.25rem; }
    .my-profile .basic-info li span, .my-profile .address li span {
      padding: 0.3rem;
      color: #F62F5E;
      font-weight: 600; }
    .my-profile .basic-info li select, .my-profile .address li select {
      display: inline;
      width: 50%;
      border-bottom: 1px solid #aaa; }
  .my-profile .basic-info input, .my-profile .address input {
    width: auto;
    height: auto;
    border-bottom: 1px solid #aaa;
    padding: 0.25rem; }
    .my-profile .basic-info input:focus, .my-profile .address input:focus {
      border-bottom: 1px solid transparent;
      -webkit-box-shadow: 000 transparent;
      box-shadow: 000 transparent; }
  .my-profile .basic-info input[type=text]:focus, .my-profile .address input[type=text]:focus {
    border-bottom: 1px solid #F62F5E;
    -webkit-box-shadow: 0 1px 0 0 #F62F5E;
    box-shadow: 0 1px 0 0 #F62F5E; }
  .my-profile .basic-info input[type=email]:focus, .my-profile .address input[type=email]:focus {
    border-bottom: 1px solid #F62F5E;
    -webkit-box-shadow: 0 1px 0 0 #F62F5E;
    box-shadow: 0 1px 0 0 #F62F5E; }
  .my-profile .basic-info .edit-btn-cont, .my-profile .address .edit-btn-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .my-profile .basic-info .edit-btn-cont button, .my-profile .address .edit-btn-cont button {
      background-color: #F62F5E;
      margin-bottom: 0.7rem; }
  .my-profile .basic-info .hide-btn, .my-profile .address .hide-btn {
    display: none; }
  .my-profile .basic-info .save-btn-cont, .my-profile .address .save-btn-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .my-profile .basic-info .save-btn-cont button, .my-profile .address .save-btn-cont button {
      background-color: #F62F5E; }
    .my-profile .basic-info .save-btn-cont .save-btn, .my-profile .address .save-btn-cont .save-btn {
      background-color: #1976d2; }

.my-bag {
  margin: 3rem auto; }
  .my-bag .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem; }
    .my-bag .header .btn {
      background: #F62F5E; }
    .my-bag .header h5 {
      font-weight: bold;
      color: #F62F5E;
      text-shadow: 1px 1px 1px #333; }
  .my-bag table thead {
    font-size: 1.2rem; }
  .my-bag table tbody {
    font-size: 1.2rem; }
    .my-bag table tbody .update-btn {
      margin: 0 0.75rem;
      padding: 0.5rem;
      color: #FFF;
      background: #F62F5E;
      cursor: pointer;
      font-size: 1rem;
      border-radius: 0.3rem; }
  .my-bag .cart-emtpy {
    margin: 3rem 0; }
    .my-bag .cart-emtpy h2,
    .my-bag .cart-emtpy h4 {
      text-align: center;
      margin-bottom: 1rem; }
    .my-bag .cart-emtpy h5,
    .my-bag .cart-emtpy hr {
      display: none; }
    .my-bag .cart-emtpy ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .my-bag .cart-emtpy ul li {
        text-align: center;
        margin-bottom: 0.5rem; }
        .my-bag .cart-emtpy ul li a {
          color: #2E2E2E;
          font-size: 1.5rem;
          border-bottom: 1px solid transparent;
          -webkit-transition: all 200ms linear;
          -o-transition: all 200ms linear;
          transition: all 200ms linear; }
          .my-bag .cart-emtpy ul li a:hover {
            border-bottom: 1px solid #2E2E2E; }

.checkout {
  margin-bottom: 3rem; }
  .checkout .btn-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .checkout .btn-cont button {
      background: #F62F5E;
      padding: 1rem 1.5rem;
      color: #FFF;
      border: none;
      border-radius: 3rem;
      -webkit-box-shadow: 1px 1px 3px #2e2e2e;
      box-shadow: 1px 1px 3px #2e2e2e;
      -webkit-transition: all 200ms linear;
      -o-transition: all 200ms linear;
      transition: all 200ms linear;
      cursor: pointer; }
      .checkout .btn-cont button:hover {
        -webkit-box-shadow: 0px 0px 5px #2e2e2e;
        box-shadow: 0px 0px 5px #2e2e2e;
        background: #f5174b; }

.btn-r, .btn-l {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .btn-r button, .btn-l button {
    background: #F62F5E;
    padding: 1rem 1.5rem;
    color: #FFF;
    border: none;
    border-radius: 3rem;
    -webkit-box-shadow: 1px 1px 3px #2e2e2e;
    box-shadow: 1px 1px 3px #2e2e2e;
    -webkit-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
    cursor: pointer; }
    .btn-r button:hover, .btn-l button:hover {
      -webkit-box-shadow: 0px 0px 5px #2e2e2e;
      box-shadow: 0px 0px 5px #2e2e2e;
      background: #f5174b; }

.btn-r {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-right: 3rem; }

.btn-l {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding-left: 3rem; }

.place-order {
  margin: 2rem auto;
  font-size: 1.3rem; }
  .place-order .cont {
    width: 75%;
    margin: 1rem auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .place-order .total-topay {
    font-size: 1.6rem;
    font-weight: bold; }
  .place-order a {
    height: auto;
    background: #F62F5E;
    padding: 0.5rem 2rem;
    color: #FFF;
    border: none;
    border-radius: 3rem;
    -webkit-box-shadow: 1px 1px 3px #2e2e2e;
    box-shadow: 1px 1px 3px #2e2e2e;
    -webkit-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
    cursor: pointer; }
    .place-order a:hover {
      -webkit-box-shadow: 0px 0px 5px #2e2e2e;
      box-shadow: 0px 0px 5px #2e2e2e;
      background: #f5174b; }

.payment {
  margin: 3rem auto; }
  .payment table {
    width: 75%;
    margin: 0 auto;
    font-size: 1.2rem;
    font-weight: 700; }
    .payment table span {
      font-weight: normal; }
  .payment .text-area-cont {
    margin: 0 auto;
    width: 75%; }
    .payment .text-area-cont textarea {
      width: 100%;
      min-width: 100%;
      max-width: 100%;
      height: 70px;
      max-height: 70px;
      min-height: 70px;
      padding: 0.75rem; }
  .payment .btn-cont {
    margin-top: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .payment .btn-cont button {
      background: #F62F5E;
      padding: 1rem 1.5rem;
      color: #FFF;
      border: none;
      border-radius: 3rem;
      -webkit-box-shadow: 1px 1px 3px #2e2e2e;
      box-shadow: 1px 1px 3px #2e2e2e;
      -webkit-transition: all 200ms linear;
      -o-transition: all 200ms linear;
      transition: all 200ms linear;
      cursor: pointer; }
      .payment .btn-cont button:hover {
        -webkit-box-shadow: 0px 0px 5px #2e2e2e;
        box-shadow: 0px 0px 5px #2e2e2e;
        background: #f5174b; }
    .payment .btn-cont .disabled {
      background-color: #afafaf;
      cursor: not-allowed; }
      .payment .btn-cont .disabled:hover {
        -webkit-box-shadow: 1px 1px 3px #2e2e2e;
        box-shadow: 1px 1px 3px #2e2e2e;
        background-color: #afafaf; }

footer {
  z-index: 100;
  background-color: #2E2E2E;
  padding: 1.5rem 0;
  width: 100%; }
  footer .mainNav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    footer .mainNav ul a {
      color: #FFF;
      font-size: 1.5rem;
      font-weight: 600; }
    footer .mainNav ul .mainNav-active a {
      color: #F62F5E; }
  footer .social-media {
    margin: 1rem 0; }
    footer .social-media ul {
      width: 75%;
      margin: auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around; }
      footer .social-media ul li {
        width: 50px;
        height: 50px;
        background: #FFF;
        border-radius: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-transition: all 250ms linear;
        -o-transition: all 250ms linear;
        transition: all 250ms linear; }
        footer .social-media ul li a {
          font-size: 1.8rem;
          color: #2E2E2E; }
        footer .social-media ul li:hover {
          background-color: #2E2E2E; }
          footer .social-media ul li:hover a {
            color: #FFF; }
  footer .copy-rights {
    margin: 3rem auto;
    width: 50%; }
    footer .copy-rights ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around; }
      footer .copy-rights ul li a {
        font-size: 1.1rem;
        color: #FFF;
        margin: 0, 1rem; }
        footer .copy-rights ul li a:hover {
          text-decoration: underline; }
