.checkout {
	margin-bottom: 3rem;
	.btn-cont {
		display: flex;
		justify-content: center;

		button {
			background: $primary;
			padding: 1rem 1.5rem;
			color: $textSecondary;
			border: none;
			border-radius: 3rem;
			box-shadow: 1px 1px 3px #2e2e2e;
			transition: all 200ms linear;
			cursor: pointer;
			&:hover {
				box-shadow: 0px 0px 5px #2e2e2e;
				background: darken($primary, 5%);
			}
		}
	}
}

.btn-r, .btn-l {
	display: flex;
	button {
		background: $primary;
		padding: 1rem 1.5rem;
		color: $textSecondary;
		border: none;
		border-radius: 3rem;
		box-shadow: 1px 1px 3px #2e2e2e;
		transition: all 200ms linear;
		cursor: pointer;
		&:hover {
			box-shadow: 0px 0px 5px #2e2e2e;
			background: darken($primary, 5%);
		}
	}
}

.btn-r {
	justify-content: flex-end;
	padding-right: 3rem;
}

.btn-l {
	justify-content: flex-start;
	padding-left: 3rem;
}

//Place order component
.place-order {
	margin: 2rem auto;
	font-size: 1.3rem;
	.cont {
		width: 75%;
		margin: 1rem auto;
		display: flex;
		justify-content: space-between;
	}

	.total-topay {
		font-size: 1.6rem;
		font-weight: bold;
	}

	a {
    height: auto;
		background: $primary;
		padding: 0.5rem 2rem;
		color: $textSecondary;
		border: none;
		border-radius: 3rem;
		box-shadow: 1px 1px 3px #2e2e2e;
		transition: all 200ms linear;
		cursor: pointer;
		&:hover {
			box-shadow: 0px 0px 5px #2e2e2e;
			background: darken($primary, 5%);
		}
	}
}

//Payment component 
.payment {
	margin: 3rem auto;
	table {
		width: 75%;
		margin: 0 auto;
		font-size: 1.2rem;
		font-weight: 700;
		span {
			font-weight: normal;
		}
	}

	.text-area-cont {
		margin: 0 auto;
		width: 75%;

		textarea {
			width: 100%;
			min-width: 100%;
			max-width: 100%;
			height: 70px;
			max-height: 70px; 
			min-height: 70px;
			padding: 0.75rem;
		}
	}

	.btn-cont {
		margin-top: 1.5rem;
		display: flex;
		justify-content: center;
		button {
			background: $primary;
			padding: 1rem 1.5rem;
			color: $textSecondary;
			border: none;
			border-radius: 3rem;
			box-shadow: 1px 1px 3px #2e2e2e;
			transition: all 200ms linear;
			cursor: pointer;
			&:hover {
				box-shadow: 0px 0px 5px #2e2e2e;
				background: darken($primary, 5%);
			}
		}

		.disabled {
			background-color: #afafaf;
			cursor: not-allowed;
			&:hover {
				box-shadow: 1px 1px 3px #2e2e2e;
				background-color: #afafaf;
			}
		}
	}
}