.my-profile {
	h5,
	h3 {
		color: $textPrimary;
		text-align: center;
	}

	.basic-info, .address{
		box-shadow: 0px 0px 5px #aaa;
		padding: 1rem;

		h5 {
			border-bottom: 1px solid $primary;
			padding-bottom: 0.7rem;
		}

		li {
			padding: 0.5rem;
			font-size: 1.2rem;
			border-bottom: 1px solid #dbdbdb;
			margin-bottom: 0.25rem;

			span {
				padding: 0.3rem;
				color: $primary;
				font-weight: 600;
			}

			select {
				display: inline;
				width: 50%;
				border-bottom: 1px solid #aaa;
			}
		}

		input {
			width: auto;
			height: auto;
			border-bottom: 1px solid #aaa;
			padding: 0.25rem;
			&:focus {
				border-bottom: 1px solid transparent;
				box-shadow: 000 transparent;
			}
		}

		input[type=text]:focus {
			border-bottom: 1px solid $primary;
			box-shadow: 0 1px 0 0 $primary;
		}

		input[type=email]:focus {
			border-bottom: 1px solid $primary;
			box-shadow: 0 1px 0 0 $primary;
		}

		.edit-btn-cont {
			display: flex;
			justify-content: center;

			button {
				background-color: $primary;
				margin-bottom: 0.7rem;
			}
		}

		.hide-btn {
			display: none;
		}

		.save-btn-cont {
			display: flex;
			justify-content: space-around;

			button {
				background-color: $primary;
			}

			.save-btn {
				background-color: #1976d2
			}
		}
	}
}
