.single-product {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba($color: #000000, $alpha: 0.90);
  transform: scale(0.00001, 0.00001);
  transition: transform 250ms ease-in-out;
}

.active {
  transform: scale(1, 1);
}

.product-cont {
  height: inherit;
  margin: auto;
  background: $textSecondary;
  padding: 1rem;
  z-index: 100;
  overflow-y: scroll;

  h3 {
    color: $textPrimary;
    font-weight: 500;
    opacity: 0.75;
  }

  .btn-close {
    font-size: 2.5rem;
    position: relative;
    left: 90%;		
    cursor: pointer;	
    color: $textPrimary;
    font-weight: 500;
    opacity: 0.75;
  }
//Gallery Component 
  .gallery {
    width: 100%;
    .img-cont {
      display: flex;
      justify-content: center;
      height: 200px;
    }

    hr {
      border: 0.5px solid #aaa;
    }

    .img-selector {
      display: flex;
      justify-content: center;
      span {
        margin: 0 0.5rem;
        width: 3.5rem;
        img {
          width: 100%;
        }
      }
    }
  }

  .details {
    .price-cont {
      display: flex;
      justify-content: flex-start;
      margin-top: 0.7rem;
      span {
        margin: 0rem;
        font-size: 2rem;
        font-weight: 700;
        color: $primary;
      }

      .x-price {
        text-decoration: line-through;
        color: red;
        font-size: 1.2rem;
        opacity: 0.9;
      }

      .disc-price {
        margin-left: 1.5rem;
      }

      .price-hide{
        display: none;
      }
    }
    .description {
      color: $textPrimary;
      font-size: 1.1rem;
    }
    //Add To Cart Component & Attributes Component
    .attributes {
      h6 {
        color: #747474;
        font-weight: 700;
        font-size: 1.3rem;
      }
      ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
      }
      .colors {
        li {
          margin-right: 0.5rem;
          border: 3px solid #aaa;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all 200ms linear;
          label {
            height: 1.5rem;
            width: 1.5rem;
            border-radius: 50%;
            cursor: pointer;
          }
        }
        .picked {
          border: 3px solid $primary;
        }
      }

      .sizes {
        li {
          padding: 0.25rem 1rem;
          margin-right: 0.5rem;
          border: 2px solid $primary;
          transition: all 200ms linear;
          label {
            cursor: pointer;
            font-size: 1.1rem;
            color : $primary;
            font-weight: 700;
          }
        }

        .picked {
          background-color: $primary;
          label {
            color: $textSecondary
          }
        }
      }
    }

    .btn-cont {
      display: flex;
      justify-content: center;
      margin-top: 1.5rem;
      .add-btn {
        padding: 1rem 3rem;
        cursor: pointer;
        border-radius: 2rem;
        background-color: $primary;
        color: $textSecondary;
        border: none;
        font-size: 1.2rem;
        box-shadow: 1px 1px 3px $textPrimary;
        transition: all 250ms linear;
        &:hover {
          background-color: darken($primary, 15%);
          box-shadow: 0px 0px 6px $textPrimary;
        }
      }
    }
  }

}